# 数据库连接
DATABASE_URL="postgresql://username:password@localhost:5432/threekingdom?schema=public"

# JWT 密钥
JWT_SECRET="api"
JWT_EXPIRES_IN="365d"

# Redis 连接
REDIS_HOST="localhost"
REDIS_PORT=6379

# 服务端口
PORT=3000
